/* CSS cho CeilingFan */
/* Fan.css */

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



/* Ensure the grid adjusts based on the screen width */
/* At larger screen sizes (6 columns max) */
@media (min-width: 1200px) {
    .product-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* At smaller screen sizes (1 column min) */
@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}


.product-card:hover {
    transform: scale(1.05);
}

.ceiling-fan-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

p {
    font-size: 14px;
    color: #555;
}
